/*
COLORS
#BF2C38 middle red
#590F1D dark red
#F2AE2E yellow mustard
#BFA98E beige
#F2594B light red
*/


body {margin: 0;}
html {scroll-behavior: smooth;}
/*NAVIGATION*/

#navBar {background: #590F1D;}

ul {
    list-style: none;
    margin: 0;
    padding: 1.2rem;
    text-align: right;
}

ul > li {
    display: inline;
    font: 1.2rem grenadine-mvb;
    color: white;
    padding: 0 1.5rem;
}

ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

li > a {
    padding: 0 1.5rem;
    color: black;
    font: 1.2rem grenadine-mvb;
    text-decoration: none;
}

li > a:hover {
    color: #F2AE2E;
}


/*PARALLAX EFFECT*/

#restaurantImg {
	width: 100%;
	height: 80vh;
	background-image: url(assets/zakaria-zayane-0uAVsDcyD0M-unsplash.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/*MAIN*/

h1 {
    font: 4rem mina, serif;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

#restaurantDescr {
    text-align: center;
    margin: 0 20%;
}

h2 {
    margin-top: 5rem;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.5rem;
}

p {
    font-family: Montserrat;
    font-weight: 300;
}

ol {
    text-align: center;
    list-style: none;
}

ol > li {
    display: inline;
    padding: 2rem;
    font: 1.3rem Montserrat, sans-serif ;
}

/*GRID FOR THE SECTIONS*/

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17vw, 1fr));
    grid-gap: 3vw;
    margin: 5% 10%;
}

h3 {
    grid-column: 1/5;
    text-align: center;
    margin-bottom: -5vh;
    margin-top: 0;
    font: 2rem Montserrat, sans-serif;
    font-weight: 700;
    font-style: italic;
}

h4 {
    font: 1.4rem Montserrat, sans-serif;
    font-weight: 600;
    font-style: italic;
}

.foodItem p {
    text-align: center;
    margin: 4%;
}

.foodItem p:last-of-type {font-style: italic;}

.foodItem {
    display: flex;
    flex-direction: column;
    align-items: center;
	width: 17vw;
	background-color: rgba(191, 169, 142, 0.1);
	transition: 1s;
    position: relative;
}

.foodItem:hover {
	background-color: rgba(191, 169, 142, 0.15);
	transition: 1s;
	box-shadow: 0px 0px 25px 4px rgba(0,0,0,0.15);
}

.imgFood {
    width: 13vw;
    height: 13vw;
    object-fit: cover;
    border-radius: 100%;
}

.price {
    background-color: rgba(191, 169, 142, 0.5);
    border-radius: 100%;
    font-size: 1.5em;
    padding: 1vh;
    position: absolute;
    left: 10%;
    top: 35%;
}

.saleStrike {
    text-decoration: line-through;
    background-color: rgba(191, 169, 142, 0.1);
}

.sale {
    background-color: rgba(242, 89, 75, 0.5);
    border-radius: 100%;
    font-size: 1.5em;
    padding: 1vh;
    position: absolute;
    right: 10%;
    top: 35%;
}

.soldOut {
    opacity: 0.5;
}

.soldOutP {
    color: white;
    font-size: 4em;
    font-weight: bolder;
    position: absolute;
    top: 15%;
}

.orderBtn {
    padding: 0.75rem 2rem;
    margin: 5% 0.25rem;
    border-radius: 5%;
    background-color: rgba(242, 174, 46, 0.75);
    color: white;
    border: none;
    font: 1.5rem Montserrat, sans-serif;
    font-weight: 700;
}

.orderBtn:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: rgba(242, 174, 46, 1);
    cursor: pointer;
}
